@import "tab-button.vars";

:host {
  --background: var(--ion-color-primary);
  --background-checked: var(--ion-color-primary);
  --background-hover: var(--color-checked);
  --background-focused: var(--color-checked);
  --background-activated-opacity: 0;
  --background-focused-opacity: 0.12;
  --background-hover-opacity: 0.04;
  --color: var(--ion-color-primary);
  --color-checked: var(--ion-color-primary);
  --indicator-box-shadow: none;
  --indicator-color: var(--color-checked);
  --indicator-height: 2px;
  --indicator-transition: #{$segment-button-transition-animated};
  --indicator-transform: none;
  --transition: $segment-button-transition;

  min-width: $segment-button-min-width;

  max-width: $segment-button-max-width;
  min-height: $segment-button-min-height;

  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);

  font-size: $segment-button-font-size;
  font-weight: $segment-button-font-weight;

  letter-spacing: $segment-button-letter-spacing;

  line-height: $segment-button-line-height;

  text-transform: uppercase;
  display: flex;
  position: relative;
}
.button-native {
  display: flex;

  flex-direction: inherit;

  flex-grow: 1;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-width: inherit;
  max-width: inherit;

  height: auto;
  min-height: inherit;
  max-height: inherit;

  transition: var(--transition);

  border: none;

  outline: none;

  background: transparent;

  contain: content;

  overflow: hidden;

  z-index: 2;
}

.segment-button-indicator {
  transform-origin: left;

  position: absolute;

  opacity: 0;

  box-sizing: border-box;

  will-change: transform, opacity;

  pointer-events: none;
  bottom: 0;
}

.segment-button-indicator {
  transform-origin: left;

  position: absolute;

  opacity: 0;

  box-sizing: border-box;

  will-change: transform, opacity;

  pointer-events: none;
  width: 100%;
}

.segment-button-indicator-background {
  width: 100%;
  height: var(--indicator-height);

  transform: var(--indicator-transform);

  box-shadow: var(--indicator-box-shadow);

  pointer-events: none;
}

.segment-button-indicator-animated {
  transition: var(--indicator-transition);
}

:host(.segment-button-checked) .segment-button-indicator {
  opacity: 1;
}

.segment-button-indicator-background {
  background: var(--indicator-color);
}

:host(.segment-button-disabled) {
  opacity: $segment-button-opacity-disabled;
}

// Segment Button: Checked
// --------------------------------------------------

:host(.segment-button-checked) {
  background: none;
  .button-native {
    color: var(--color-checked);
  }

  &::slotted(ion-icon) {
    color: var(--color-checked);
    fill: currentColor;
  }
}

// Segment Button: Disabled
// --------------------------------------------------

:host(.segment-button-disabled) {
  cursor: default;
  pointer-events: none;
}
