/// @prop - Width of the bottom border on the tab button
$tab-button-border-bottom-width: 2px !default;

/// @prop - Color of the bottom border on the tab button
$tab-button-border-bottom-color: transparent !default;

/// @prop - Opacity of the disabled tab button
$tab-button-opacity-disabled: 0.3 !default;

/// @prop - Minimum height of the tab button
$tab-button-min-height: 48px !default;

/// @prop - Minimum width of the tab button
$tab-button-min-width: 90px !default;

/// @prop - Maximum width of the tab button
$tab-button-max-width: 360px !default;

/// @prop - Line height of the tab button
$tab-button-line-height: 40px !default;

/// @prop - Font size of the tab button
$tab-button-font-size: 14px !default;

/// @prop - Letter spacing of the tab button
$tab-button-letter-spacing: 0.06em !default;

/// @prop - Font weight of the tab button
$tab-button-font-weight: 500 !default;

/// @prop - Transition of the tab button
$tab-button-transition: color 0.15s linear 0s, opacity 0.15s linear 0s !default;

/// @prop - Transition of the animated tab button
$tab-button-transition-animated: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) !default;

/// @prop - Size of an icon in the tab button
$tab-button-icon-size: 24px !default;

/// @prop - Line height of an icon in the tab button
$tab-button-icon-line-height: 24 !default;
