@import "tab-button.vars";

:host {
  --background: transparent;
  --background-checked: var(--ion-color-primary);
  --background-hover: transparent;

  --background-checked-opacity: 1;
  --background-hover-opacity: 0.4;

  --color: var(--ion-color-medium-shade);
  --color-hover: var(--ion-color-dark-tint);
  --color-checked: var(--ion-color-primary);

  --indicator-box-shadow: none;
  --indicator-color: var(--color);
  --indicator-activated-color: var(--color-checked);
  --indicator-height: 2px;
  --indicator-transition: #{$tab-button-transition-animated};
  --indicator-transform: none;

  --transition: $tab-button-transition;

  min-width: $tab-button-min-width;

  max-width: $tab-button-max-width;
  min-height: $tab-button-min-height;

  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);

  font-size: $tab-button-font-size;
  font-weight: $tab-button-font-weight;

  letter-spacing: $tab-button-letter-spacing;

  line-height: $tab-button-line-height;

  text-transform: uppercase;
  display: flex;
  position: relative;
  margin-right: 5px;
}

:host(:last-of-type) {
  margin-right: 0px;
}
.button-native {
  display: flex;

  flex-direction: inherit;

  flex-grow: 1;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-width: inherit;
  max-width: inherit;

  height: auto;
  min-height: inherit;
  max-height: inherit;

  transition: var(--transition);

  border: none;

  outline: none;

  background: var(--background);

  contain: content;

  overflow: hidden;

  z-index: 2;
  color: var(--color);
}

.button-native:hover {
  background: var(--background-hover);
  color: var(--color-hover);
  opacity: var(--background-hover-opacity);
}
.button-inner {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  line-height: 16px;
  > * {
    vertical-align: text-top;
  }
}

.tab-button-indicator {
  transform-origin: left;

  position: absolute;

  box-sizing: border-box;

  will-change: transform, opacity;

  pointer-events: none;
  width: 100%;
  bottom: 0;
}

.tab-button-indicator-background {
  width: 100%;
  height: var(--indicator-height);

  transform: var(--indicator-transform);

  box-shadow: var(--indicator-box-shadow);

  pointer-events: none;
}

.tab-button-indicator-animated {
  transition: var(--indicator-transition);
}

:host(.tab-button-checked) .tab-button-indicator-background {
  background: var(--indicator-activated-color);
}

.tab-button-indicator-background {
  background: var(--indicator-color);
}

// tab Button: Checked
// --------------------------------------------------

:host(.tab-button-checked) {
  background: none;
  .button-native {
    color: var(--color-checked);
    opacity: var(--background-checked-opacity);
  }
}
:host(.tab-button) ::slotted(ion-icon) {
  margin-right: 5px;
}

// tab Button: Disabled
// --------------------------------------------------

:host(.tab-button-disabled) {
  opacity: $tab-button-opacity-disabled;
  cursor: default;
  pointer-events: none;
}
