<div class="trav-input--container">
  <input
    class="trav-input"
    [type]="type"
    autocomplete="off"
    spellcheck="false"
    tabindex="0"
    [attr.aria-label]="label"
    name="identifier"
    [(ngModel)]="value"
    autocapitalize="none"
    id="identifierId"
    (input)="onInput($event)"
    (change)="changeFn($event)"
    (blur)="onTouched()"
    [attr.aria-autocomplete]="isListBox ? 'list' : ''"
    [attr.aria-owns]="isListBox ? listId : ''"
    [attr.role]="isListBox ? 'combobox' : ''"
  />
  <label #inputLable class="trav-input__label" aria-hidden="true">{{
    label
  }}</label>
</div>
