<div *ngIf="updatedFlight">
  <div class="header">
    <ion-icon class="airline-icon" [src]="src"></ion-icon>
    <label for="">{{ updatedFlight.airline_name }}</label>
  </div>
  <div class="updatedFlight-details">
    <div class="updatedFlight-details--info arrival-info">
      <label for="" class="departure-time f-w-bold">{{
        updatedFlight.departure_time | date: "shortTime"
      }}</label
      ><label for="" class="departure-city-code">{{
        updatedFlight.departure_code
      }}</label>
    </div>
    <div class="updatedFlight-details--info stop-duration-info">
      <label for="" class="estimate-time">{{ timeString }}</label>
      <div class="stop-ui">
        <label class="stop"></label>
        <label
          class="stop"
          *ngFor="let stop of updatedFlight.stops; let i = index"
          [ngStyle]="{ 'left.%': 100 / (i + 2) }"
        ></label>
        <label class="stop"></label>
      </div>
      <label for="" *ngIf="updatedFlight.stops" class="stop-text">{{
        updatedFlight.stops.length + " Stop (ADD)"
      }}</label>
    </div>
    <div class="updatedFlight-details--info departure-info">
      <label for="" class="arrival-time f-w-bold">{{
        updatedFlight.arrival_time | date: "shortTime"
      }}</label
      ><label for="" class="arrival-code">{{
        updatedFlight.arrival_code
      }}</label>
    </div>
  </div>
  <div *ngIf="updatedFlight.fares as fares" class="fares-info">
    <ion-card
      [ngClass]="{
        'best-fare': fare.description === updatedFlight.best_fare.description
      }"
      class="fare-card"
      *ngFor="let fare of fares"
    >
      <ion-badge
        *ngIf="fare.description === updatedFlight.best_fare.description"
        class="best-fare-badge"
        >Best</ion-badge
      >
      <label for="price" class="fare-price">{{ fare.price }} </label>
      <label for="price-description">{{ fare.description }} </label>
    </ion-card>
  </div>
</div>
