.trav-hide {
  display: none !important;
}

.trav-flex {
  display: flex !important;
}

.trav-inline-flex {
  display: inline-flex !important;
}

.trav-block {
  display: inline-block;
}

.trav-block {
  display: block;
}
