<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button type="button" (click)="goBack()">
        <ion-icon src="/assets/icon/back-arrow.svg" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Filter By</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-card class="filter-card">
    <div class="filter-card-header">
      <label>Price Range</label>
    </div>
    <div class="range-input">
      <trav-input
        class="marg-right"
        [(ngModel)]="min"
        label="Minimum Price"
      ></trav-input>
      <trav-input
        class="no-margin"
        [(ngModel)]="max"
        label="Maximum Price"
      ></trav-input>
    </div>
    <ion-range
      dualKnobs="true"
      step="200"
      [min]="priceFilter.min"
      [max]="priceFilter.max"
      color="primary"
      mode="ios"
      class="range"
      [(ngModel)]="maxValue"
      (ionChange)="change($event)"
    >
    </ion-range>
  </app-card>
  <app-card>
    <label class="class-label">Booking Class</label>
    <ion-list>
      <ion-item class="class-input" lines="none" *ngFor="let entry of checks">
        <ion-label>{{ entry.type }}</ion-label>
        <ion-label class="text-r-align" slot="end">{{ entry.val }}</ion-label>
        <ion-checkbox
          class="class-check"
          slot="start"
          [(ngModel)]="entry.isChecked"
        ></ion-checkbox>
      </ion-item>
    </ion-list>
  </app-card>
</ion-content>

<ion-footer>
  <ion-toolbar class="toolbar-no-color" color="secondary">
    <ion-button
      (click)="reset()"
      expand="block"
      type="type"
      fill="outline"
      class="filter-submit"
    >
      Reset All
    </ion-button>

    <ion-button
      slot="end"
      (click)="onSubmit()"
      expand="block"
      type="type"
      color="primary"
      class="filter-submit"
    >
      Done
    </ion-button>
  </ion-toolbar>
</ion-footer>
