:host {
  --indicator-color-checked: initial;
  --ripple-color: currentColor;
  --color-activated: initial;

  display: flex;

  align-items: stretch;
  justify-content: center;

  width: 100%;

  text-align: center;
  justify-content: flex-start;

  width: auto;

  overflow-x: auto;
}

:host(.tab-bar-disabled),
::slotted(.tab-button-disabled) {
  pointer-events: none;
}
