:host {
  --indicator-color-checked: initial;
  --ripple-color: currentColor;
  --color-activated: initial;

  display: flex;

  align-items: stretch;
  justify-content: center;

  width: 100%;

  text-align: center;
  justify-content: flex-start;

  width: auto;

  overflow-x: auto;
  top: 44px;

  z-index: 10;
}

:host(.tab-bar-fixed) {
  position: fixed;
  width: 100%;
  padding-bottom: 2px;
  background: white;
}

:host(.tab-bar-disabled),
::slotted(.tab-button-disabled) {
  pointer-events: none;
}
