<ion-header>
  <ion-toolbar>
    <ion-title> <span>cx</span>Loyalty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <div class="mt-10 home-page ion-inner-content">
    <trav-tab-bar
      [(ngModel)]="segment"
      (tabChanged)="onTabChange($event)"
      name="segment"
    >
      <trav-tab-button class="tab-button" value="flight"
        ><ion-icon
          class="mr-5"
          src="/assets/icon/airplane-outline.svg"
        ></ion-icon
        >Flight</trav-tab-button
      >
      <trav-tab-button value="hotel"
        ><ion-icon class="mr-5" src="/assets/icon/hotel.svg"></ion-icon
        >Hotel</trav-tab-button
      >
      <trav-tab-button value="car"
        ><ion-icon class="mr-5" src="/assets/icon/car-outline.svg"></ion-icon
        >Car</trav-tab-button
      >
      <trav-tab-button value="activity"
        ><ion-icon class="mr-5" src="/assets/icon/flag-outline.svg"></ion-icon
        >Activity</trav-tab-button
      >
    </trav-tab-bar>
    <div [ngSwitch]="segment">
      <trav-flights class="trav-flights" *ngSwitchCase="'flight'">
      </trav-flights>

      <ion-card *ngSwitchCase="'hotel'">
        <ion-card-header>
          Card Info
        </ion-card-header>
        <ion-card-content>
          Your card info content here
        </ion-card-content>
      </ion-card>

      <ion-card *ngSwitchCase="'activity'">
        <ion-card-header>
          Change Password
        </ion-card-header>
        <ion-card-content>
          Your change password form here
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
