<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button type="button" (click)="goBack()">
        <ion-icon src="/assets/icon/back-arrow.svg" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Travellers</ion-title>
  </ion-toolbar>
</ion-header>
<form [formGroup]="formData" (ngSubmit)="onSUbmit()">
  <div class="input-group">
    <label for="Adult">Adult <span class="age-range"> 12+ Years</span></label>
    <div class="counter-button">
      <ion-button
        [disabled]="adult == 0"
        (click)="minusButton(true, false, false)"
        class="minus-button"
        >-</ion-button
      >
      <ion-input formControlName="adult"></ion-input>
      <ion-button
        class="minus-button"
        [disabled]="adult == 9"
        (click)="plusButton(true, false, false)"
        >+</ion-button
      >
    </div>
  </div>
  <div class="input-group">
    <label for="Child">Child<span class="age-range"> 2-12 Years</span></label>
    <div class="counter-button">
      <ion-button
        [disabled]="child == 0"
        (click)="minusButton(false, true, false)"
        class="minus-button"
        >-</ion-button
      >
      <ion-input formControlName="child"></ion-input>
      <ion-button
        [disabled]="child == 9"
        (click)="plusButton(false, true, false)"
        >+</ion-button
      >
    </div>
  </div>
  <div class="input-group">
    <label for="Infant">Infant<span class="age-range"> 0-2 Years</span></label>
    <div class="counter-button">
      <ion-button
        [disabled]="infant == 0"
        (click)="minusButton(false, false, true)"
        class="minus-button"
        >-</ion-button
      >
      <ion-input formControlName="infant"></ion-input>
      <ion-button
        [disabled]="infant == 9"
        (click)="plusButton(false, false, true)"
        >+</ion-button
      >
    </div>
  </div>
</form>
<ion-content>
  <ion-button
    (click)="onSubmit()"
    expand="block"
    type="type"
    class="btn btn-primary filter-submit"
  >
    Done
  </ion-button>
</ion-content>
