:host {
  display: block;
  padding: 15px;
  margin-top: 15px;
}
trav-input:not(.no-margin) {
  margin-bottom: 20px;
  &:last-of-type {
    margin-bottom: 0px;
  }
}

.d-flex {
  display: flex;
  margin-bottom: 20px;
}

.flight-submit {
  // --background: var(--trav-submit-button-color);
  --border-radius: 4px;
  margin-top: 15px;
}

.d-none {
  display: none;
}

.trans-button {
  flex: 1 0;
  margin-bottom: 0px;
  padding: 0px;
  &:first-of-type {
    margin-right: 20px;
  }
}

.traveler-class {
  width: 50%;
  text-align: left;
  background: transparent;
  border: 1px solid var(--ion-color-medium-shade);
  color: var(--ion-color-medium-shade);
  border-radius: 8px;
  position: relative;
  &--label {
    position: absolute;
    z-index: 1;
    background: white;
    top: -6px;
    padding: 0 2px;
  }
  &--select {
    box-sizing: border-box;
  }
}
.Departure--container {
  position: relative;
  margin-bottom: 20px;
}
.SearchList {
  list-style: none;
  padding: 0px;
  margin: 0px;
  color: #666;
  line-height: 1;
  color: #333;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  background: #fff;
  border: 1px solid;
  border-color: #cbcfe2 #c8cee7 #c4c7d7;
  border-radius: 1px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  li {
    display: block;
    float: left;
    width: 100%;
    padding: 7px 10px;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
  }
}

.traveler-button {
  background: transparent;
  padding: 0px;
  flex: 1 1 auto;
  width: 50%;
  margin-right: 20px;
}
